exclude: ^\{\{cookiecutter.project_slug\}\}

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      - id: ruff
        name: "ruff sort imports"
        args:
          - "--fix"
          - "--select=I"
        alias: isort
      - id: ruff-format
      # Commands above are both formatters an not linters
      # See also: https://github.com/astral-sh/ruff/discussions/7310#discussioncomment-7102010
      - id: ruff
        name: "ruff lint"

  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier

  - repo: https://github.com/rhysd/actionlint
    rev: "v1.7.10"
    hooks:
      - id: actionlint
